.addBtn {
  position: absolute;
  bottom: 0;
}

.labels {
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.25rem;
  color: #4bfbc9;
  background-color: #f3969aeb;
}

@media only screen and (max-width: 768px) {
  .addBtn {
    position: relative;
    margin-top: 2rem;
  }
}
