.completed {
  text-decoration: line-through;
}

span.edit {
  display: none;
}

input.edit {
  display: inline;
}

.displayImage {
  width: 3.5rem;
  border-radius: 5rem;
}

.itemInfo {
  font-size: 1.5rem;
}
