.completed {
  text-decoration: line-through;
}

span.edit {
  display: none;
}

input.edit {
  display: inline;
}

.displayImage {
  width: 4rem;
  max-height: 5rem;
  /* border-radius: 5rem; */
}

.itemInfo {
  font-size: 1.5rem;
}

.layout {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-areas:
    'image amount unit'
    'name aisle';
  grid-gap: 1rem; */

}

.clearItemBtn {
  position: absolute;
  top:0;
  right: 0;
  width: 3rem;
}


@media only screen and (max-width: 600px) {
  /* .displayImage {
    width: 4rem;
    max-height: 5rem;
  } */

  .itemInfo {
    font-size: 1rem;
  }

}