.sliding_pane_background {
  background: url(../../assets/images/groceryAisle.jpg);
}

.cards {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

.itemsDisplay {
  max-height: 30rem;
  overflow-y: scroll;
}

.filterInput {
  display: inline-block;
  /* width: 35%; */
  width: fit-content;
  margin-left: 1.5rem
}

.clearBtn {
  margin-left: 1.5rem;
}

.labels {
  color: #5a5a5a;
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 650px) {
  .filterInput {
    display: block;
    width: fit-content;
    margin: auto;
  } 

  .clearBtn {
    display: block;
    width: fit-content;
    margin: auto;
  }

  .toggleBtn {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 420px) {
  .filterInput {
    width: 80%
  }
}