.background {
  background: linear-gradient(
    rgba(207, 243, 166, 0.45),
    rgba(204, 240, 180, 0.45)
  );
  background-image: url(../assets/images/variety-of-dishes-1640771.jpg);
  height: 100vh;
  background-size: cover;
}
