.background {
  background: linear-gradient(
    rgba(207, 243, 166, 0.45),
    rgba(204, 240, 180, 0.45)
  );
  background-image: url(../assets/images/variety-of-dishes-1640771.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.header {
  color: #4bfbc9;
  background-color: #f3969aeb;
}