.hero {
  position: relative;
}

.heroImg {
  width: 100vw;
  /* max-height: 100vh; */
}

a:hover {
  text-decoration: none;
}

/* .signUpBtn {
  width: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  margin: auto;
  top: 30%;
  left: 30%;
} */

.benefits {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.benefits img {
  width: 100%;
  max-height: 470px;
}
