.hero {
  position: relative;
}

.heroImg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

a:hover {
  text-decoration: none;
}

.benefits {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.benefits img {
  width: 100%;
  max-height: 470px;
}

/* @media only screen and (max-width: 600px) {
  .heroImg {
    width: auto;
    height: 100%;
  }
} */

