.background {
  /* background: linear-gradient(
    rgba(207, 243, 166, 0.45),
    rgba(204, 240, 180, 0.45)
  ); */
  background-image: url(../assets/images/close-up-cold-color-drop-372882.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.login {
  background: rgba(120, 194, 173, 0.65);
  max-width: 40%;
  padding: 1.5rem 3rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  opacity: 1;
  /* color: #212529; */
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .login {
    max-width: 100%;
    width: 85%;
  }
}
