.item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.itemIcons {
  display: flex;
  justify-content: space-around;
}

.pointer {
  cursor: pointer;
  font-size: 1.4rem;
}

.item {
  border-bottom-width: 1.5px;
}

.item:last-child {
  border-bottom-width: 1px;
}