.pointer {
    cursor: pointer;
}

.cardImage {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.ingContainer {
    display: flex;
    align-items: center;
    word-break: break-word;
}

.ingImage {
    width: 25%;
    max-height: 7rem;
}

.itemDesc {
    margin-left: 1.5rem;
}

